<!--<ul>
  li *ngFor="let user of users">
  <li *ngFor="let user of users" >
  <p>Id: {{user?.id}}</p>
  <p>Name: {{user?.name}}</p>
  <p>Username : {{user?.username}}</p>
  </li>
</ul>-->
<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user?.id}}</td>
        <td>{{user?.name}}</td>
        <td> {{user?.username}}</td>
      </tr>
      
    </tbody>
  </table>