<input id="myInput" type="text" placeholder="Search..">
<table class="table table-striped">
    <thead>
      <tr>
        <th onclick="sortTable(0)">Id</th>
        <th onclick="sortTable(1)">Name</th>
        <th onclick="sortTable(2)">Surname</th>
        <th onclick="sortTable(3)">Birth</th>
        <th onclick="sortTable(4)">License number</th>
      </tr>
    </thead>
    <tbody id="myTable">

      <tr *ngFor="let user of users">
        <td>{{user?.id}}</td>
        <td>{{user?.name}}</td>
        <td> {{user?.surname}}</td>
        <td> {{user?.birth}}</td>
        <td> {{user?.licenseNumber}}</td>
      </tr>
      
    </tbody>
  </table>