
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let order of orders">
      <td>{{order?.id}}</td>
      <td>{{order?.carId}}</td>
      <td>{{order?.userId}}</td>
      <td>{{order?.name}}</td>
      <td>{{order?.surname}}</td>
      <td>{{order?.brand}}</td>
      <td>{{order?.model}}</td>
      <td>{{order?.beginDate}}</td>
      <td>{{order?.endDate}}</td>
      <td>{{order?.comment}}</td>
    </tr>
    
  </tbody>
</table>

