

 <!---->
  

<input id="myInput" type="text" placeholder="Search..">

<br>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#ins">+</button>
<div id="ins" class="collapse">
    <form>
        <div class="form-group">
            <select class="form-control" name="carId" [(ngModel)]="orderpost.carId" >
              <option [ngValue]="car.id" *ngFor="let car of carlist">
                {{car?.model}}  |   {{car?.brand}}  | {{car?.registrationNumber}}
              </option>
        
            </select>
          </div>
        
        
     

        <div class="form-group">
            <select class="form-control" name="userId" [(ngModel)]="orderpost.userId" >
              <option [ngValue]="user.id" *ngFor="let user of userlist">
                {{user?.name}}  |   {{user?.surname}}  | {{user?.licenseNumber}}
              </option>
        
            </select>
          </div>

        <div class="form-group">
          <label>begin date</label>
          <input class="form-control" type="date" name="beginDate" [(ngModel)]="orderpost.beginDate" />
        </div>
        <div class="form-group">
          <label>end date</label>
          <input class="form-control" type="date" name="endDate" [(ngModel)]="orderpost.endDate" />
        </div>
        <div class="form-group">
          <label>comment</label>
          <input class="form-control" type="string" name="comment" [(ngModel)]="orderpost.comment" />
        </div>
        <div class="form-group">
        
            <button class="btn btn-default" (click)="addOrder(orderpost)">Add Order</button>
        </div>
        <div *ngIf="done">
            <div>Получено от сервера:</div>
        </div>
        
    
    </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th onclick="sortTable(0)">id</th>
      <th onclick="sortTable(1)">carId</th>
      <th onclick="sortTable(2)">userId</th>
      <th onclick="sortTable(3)">name</th>
      <th onclick="sortTable(4)">surname</th>
      <th onclick="sortTable(5)">brand</th>
      <th onclick="sortTable(6)">model</th>
      <th onclick="sortTable(7)">beginDate</th>
      <th onclick="sortTable(8)">endDate</th>
      <th onclick="sortTable(9)">comment</th>
    </tr>
  </thead>
  <tbody id="myTable">
 
    <tr *ngFor="let order of orders">
      <td>{{order?.id}}</td>
      <td>{{order?.carId}}</td>
      <td>{{order?.userId}}</td>
      <td>{{order?.name}}</td>
      <td>{{order?.surname}}</td>
      <td>{{order?.brand}}</td>
      <td>{{order?.model}}</td>
      <td>{{order?.beginDate}}</td>
      <td>{{order?.endDate}}</td>
      <td>{{order?.comment}}</td>
    </tr>
    
  </tbody>
</table>

